@media(min-width: 1448px) {
    .images {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    img {
        width: 280px;
        height: 174px;
    }



}


@media(min-width: 375px) {

    .images {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .search {
        position: relative;
        width: 257px;
        mix-blend-mode: normal;
        right: -10px;
        top: -20px;
        background: #10141E;
        color: #FFFFFF;
     }

    .searchSvg {
        position: relative;
        top: -10px;
        right: 5px;

    }

}