@media(max-width: 375px){

    div{
        color: white;
    }
.search{
    width: 257px;
    background: white;
    mix-blend-mode: normal;
   

}
.searchSvg{
    position: relative;
    top: 10px;

}
}