@media(max-width: 375px)
{
body{
    background-color: #10141E;
    height:2024px;
    color: white;
}
}

@media (max-width: 1448px) {
    body {
            background-color: #10141E;
            height: 2024px;
            color: white;
        }

}