@media(min-width: 1448px) {
.images{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

img{
   width: 280px; 
   height: 174px;
}
   


}


@media(min-width: 375px) {

    .images {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

                .search {
                    position: relative;
                    width: 257px;
                    background: #10141E;
                    mix-blend-mode: normal;
                    right: -20px;
                    top: -15px;
        
                    color: #FFFFFF;
        
                }
   
}