
    <h3>Movies</h3>

   
       <div class="images-all"  >

    <div class = "images" >
            <div class="image" *ngFor="let moviePic of mediaOptions ">

<div *ngIf="moviePic.category === 'Movie'">

  <img src="{{moviePic.thumbnail.regular.small}}" 
                 alt="pics"
                 class="img-responsive"
                 width="164px"
                 height="110px">

                
       </div>
      
            

     </div>

       </div>


       


         

    
    

<!-- {{smallpic.thubmnail.regular.small}} -->