
    <h3>Movies</h3>

   
       <ng-container class="images-all" *ngFor = "let smallpic of mediaOptions">

    <ng-template class = "images" *ngIf = "smallpic.category === 'Movie'">
            <div class="image">
                 <img src="{{smallpic.thubmnail.regular.small}}" 
                 alt="pics"
                 class="img-responsive"
                 width="164px"
                 height="110px">
            </div>
       

     

    </ng-template>
          </ng-container>


         

    
    

