
    <h3>Movies</h3>

   
       <div class="images-all" *ngFor="let smallpic of mediaOptions">

    <div class = "images" *ngIf="smallpic.category === 'Movie'">
            <div class="image">
                 <img src="./assets/thumbnails/undiscovered-cities/regular/small.jpg" 
                 alt="pics"
                 class="img-responsive"
                 width="164px"
                 height="110px">
            </div>
       

     

        </div>
       </div>


         

    
    

<!-- {{smallpic.thubmnail.regular.small}} -->