@media (max-width: 375px){

p  {        
        position: relative;
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: -0.3125px;
        color: #FFFFFF;
    }

        div {
            display: flex;
            position: relative;
            bottom: 20px;
            overflow: hidden;
        }

        svg{
            position: absolute;
            left: 210px;
            width: 11.67px;
            height: 14px;
            top: 10px;
            

        }


}






