@media(min-width: 1448px) {

 


}


@media (min-width: 375px){

  body{
    background-color:#10141E ;
  }

p  {        
       
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: -0.3125px;
        color: #FFFFFF;
    }
  h3{ 
    position: relative;
   font-family: 'Outfit';
   font-style: normal;
   font-weight: 300;
   font-size: 20px;
   line-height: 25px;
   letter-spacing: -0.3125px;
   color: #FFFFFF;
   top: 30px;
      
  }



 .imagebox2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 8px;
}  




        div {
            display: flex;
            position: relative;
            bottom: 20px;
           
            justify-content: space-between;
           
        }


         .search {
                  position: relative;
                  width: 257px;
                  background: white;
                  mix-blend-mode: normal;
                 right: 30px;
                 top: 5px;
        
        
                }
        
                .searchSvg {
                  position: relative;
                  top: 5px;
        
                }

                .move {
                  position: relative;
                  top: 10px;
                }


}






