
  <div class="searchBar">
    <svg class="searchSvg" width="32" height="32" xmlns="http://www.w3.org/2000/svg"><path d="M27.613 25.72 23.08 21.2a10.56 10.56 0 0 0 2.253-6.533C25.333 8.776 20.558 4 14.667 4S4 8.776 4 14.667c0 5.89 4.776 10.666 10.667 10.666A10.56 10.56 0 0 0 21.2 23.08l4.52 4.533a1.333 1.333 0 0 0 1.893 0 1.333 1.333 0 0 0 0-1.893ZM6.667 14.667a8 8 0 1 1 16 0 8 8 0 0 1-16 0Z" fill="#FFF"/></svg>
    <input class="search" id = "filter" type="text" ng-model = "searchInput" placeholder= "Search for movies or TV series">
</div>
   
   
   <br>
   <h3>Trending<h3>
    <br>
  <div id = "imagebox" class = "images">
    <svg class = "bookmark"width="12" height="14" xmlns="http://www.w3.org/2000/svg"><path d="m10.518.75.399 12.214-5.084-4.24-4.535 4.426L.75 1.036l9.768-.285Z" stroke="#FFF" stroke-width="1.5" fill="none"/></svg>
     <!-- <p class = "year">2019</p>
    <p> <svg class = "movieSvg" width="12" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M10.173 0H1.827A1.827 1.827 0 0 0 0 1.827v8.346C0 11.183.818 12 1.827 12h8.346A1.827 1.827 0 0 0 12 10.173V1.827A1.827 1.827 0 0 0 10.173 0ZM2.4 5.4H1.2V4.2h1.2v1.2ZM1.2 6.6h1.2v1.2H1.2V6.6Zm9.6-1.2H9.6V4.2h1.2v1.2ZM9.6 6.6h1.2v1.2H9.6V6.6Zm1.2-4.956V2.4H9.6V1.2h.756a.444.444 0 0 1 .444.444ZM1.644 1.2H2.4v1.2H1.2v-.756a.444.444 0 0 1 .444-.444ZM1.2 10.356V9.6h1.2v1.2h-.756a.444.444 0 0 1-.444-.444Zm9.6 0a.444.444 0 0 1-.444.444H9.6V9.6h1.2v.756Z" fill="#FFF" opacity=".75"/></svg></p> 
    <p class = "movieCat">Movie</p>
    <p class="beyond">BeyondEarth</p> -->

    

   
      </div>


        <h3>Recommended for You<h3>

 <div class = "imagebox2" >

      <div class="images-all" *ngFor = "let smallpic of mediaOptions">

       <div class="image"> 
          <img src= {{smallpic.thumbnail.regular.small}}
              class="recommended"
              width="164px"
              height="110px"
              alt="media screenshots">
 
       

        </div>

        <div class="imagebox3">

          <div class="movies" *ngIf = 'mediaOptions.category === "movie"' |search : searchInput>

             <div class="image"> 
           <div class="image"> 
          <img src= {{smallpic.thumbnail.regular.small}}
              class="recommended"
              width="164px"
              height="110px"
              alt="media screenshots">
 
       

        </div>
 
       

        </div>

          </div>

        </div>
 </div>

     

     









   


